# gitignore
/.stamp-bootstrap
/control
/control-modules.*
/files
/modules.conf
/modules_.conf
/fluxpbx-all.*
/fluxpbx-autotools.install
/fluxpbx-mod-*.install
/fluxpbx-conf-*.install
/fluxpbx-init.provided_by
/fluxpbx-lang-*.install
/fluxpbx-music-*.install
/fluxpbx-sounds-*.install
/*.lintian-overrides
/*.log
/*.substvars
/*.debhelper
/tmp
/fluxpbx/
/fluxpbx-conf*/
/fluxpbx-dbg/
/fluxpbx-dev/
/fluxpbx-doc/
/fluxpbx-init*/
/fluxpbx-meta*/
/fluxpbx-mod-*/
/fluxpbx-music*/
/fluxpbx-sounds*/
/fluxpbx-systemd/
/fluxpbx-sysvinit/
/libfluxpbx*/
